// colors
$color-body-primary: #FFFFFF;
$color-body-secondary: #383838;
$color-grey: #C4C4C4;
$color-grey-2: #C8C8C8;

// grid
$breakpoint-sm: 576px; // mobile
$breakpoint-md: 700px; // tablet
$breakpoint-lg: 1020px; // desktop
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1920px;

// container size
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1200px; // 1140
$container-xxl: 1770px;
